<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= qrcode_tag @user.uri_for_qrcode, module_size: 5 %>
        <%= @user.org_name %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
</div>
